.tabs {
  z-index: 1;
  border-radius: 0 10px 10px 10px;
  position: relative;
}

.outer-tabs-container {
  display: flex;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 15%;
  width: 300px;
  background-color: #33373b;
}

.tabs-container {
  display: flex;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  background-color: #454950;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  padding: 0.459rem;
}

.tab {
  color: white;
  opacity: 0.75;
  font-size: large;
  padding: 0.459rem;
  border-radius: 5px;
  cursor: pointer;
}

.empty {
  width: 10%
}

.active {
  display: inline-block;
  background-color: rgb(17, 15, 15);
  font-weight: bold;
  opacity: 1;
}

.hide {
  display: none;
  height: 50vh;
}

.show {
  display: inherit;
  z-index: -2;
}