* {
  font-family: 'Roboto', sans-serif;
  /* z-index:-2; */
}

.fixed-sidebar-options {
  z-index: 2;
  top: 25%;
  margin-top: 45px;
}

.fixed-sidebar-icon {
  max-width: 2.7vw;
}

.fixed-sidebar {
  z-index: 1;
  height: 100vh;
  width: 3%;
  top: 0;
  left: 0;
  float: left;
  /* background: rgb(24, 21, 21); */
  background: plum;
  display: flex;
  justify-content:center;
}

.sidebar-menu {
  z-index: -1;
  height: 100vh;
  width: 200px;
  top: 0;
  left: 0;
  background: rgb(24, 21, 21);
  float: left;
  transition: .3s;
  padding-left: 1%;
  position: absolute;
}

.sidebar-menu ul {
  z-index: -1;
  list-style: none;
  padding: 0;
  margin-top: 45px;
  margin-left: 25px;
}

.sidebar-menu a {
  z-index: -1;
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 25px;

  /* line-height: 3vh;
  font-size: 3vh; */


  height: 25px;
  font-weight: 350;
  color: gray;
  display: flex;
}

.sidebar-menu a:hover {
  z-index: -1;
  color: white;
  transition: 0.2s;
  transition-property: color;
}

.bottom {
  bottom: 0;
  position: fixed;
}

.options {
  position: fixed;
  top: 25%;
}