.device-container {
  width: 25vw;
  background-color: #212529;
  border-radius: 10px;
  margin: 0 0.5vw
}

.device-container:last-child {
}

.device-container-name {
  background-color: #454950;
  height: 4vh;
  line-height: 4vh;
  font-size: large;
  text-align: center;
  color: white;
}

.device-container-content {
  color: white;
  height: 18vh;
  overflow-y: scroll;
  margin: 1vh .1vw
}

.plus-circle {
  height: auto;
  width: 18px;
  float: left;
  margin-top: 0.7vh;
  margin-left: 0.7vh;
  cursor: pointer;
  user-select: none;
}