.device-container {
  width: 25vw;
  border: 1.5px solid black;
  border-right: 0;
}

.device-container:last-child {
  border-right: 1.5px solid black;
}

.device-container-name {
  height: 4vh;
  font-size: large;
  text-align: center;
  color: white;
  border-bottom: 1.5px solid black;
}

.device-container-content {
  color: white;
  height: 18vh;
  overflow-y: scroll;
  padding: 10px;
}

.plus-circle {
  float: left;
  margin-top: 1vh;
  margin-left: 1vh;
  cursor: pointer;
}