.device-container {
  /* width: 21vw; */
  background-color: #212529;
  border-radius: 10px;
  margin: 0 0.5vw;
  overflow: auto;
  display: flex;
  z-index: 1;
  max-width: calc((100vw - 6.5vw - 15vw) / 3)
}


.device-container::-webkit-scrollbar {
  width: 5px;
  color: #595D62;
}

.device-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.device-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.device-container::-webkit-scrollbar-corner {
  border-radius: 10px;
  color: #595D62;
} 

.device-container-name {
  background-color: #454950;
  height: 4vh;
  line-height: 4vh;
  font-size: large;
  text-align: center;
  color: white;
  z-index: 9900;
  position: relative;
}

.device-container-content {
  color: white;
  height: 18vh;
  width: 100%;
  max-width: inherit;
  padding: 0.61375rem 0.4rem;
  padding-left: calc(0.61375rem + 5px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.plus-circle {
  height: auto;
  width: 18px;
  float: left;
  margin-top: 0.7vh;
  margin-left: 0.7vh;
  cursor: pointer;
  user-select: none;
  transition: 0.1s background-color ease-in-out;
  border-radius: 5px;
}

.plus-circle:hover {
  background-color: #3c841b;
}