.instructions {
  color: white;
  background-color: #454950;
  height: 91vh;
  width: 25vw;
  word-wrap: break-word;
}
.instructions {
  padding-left: 4vh;
}

.icon-container, .title-container, .objective-container, .tasks-title {
  padding-top: 2vh;
  padding-right: 2vh;
}

.iconButtons {
  padding-bottom: 2vh
}

.objective-container {
}

.line {
  width: 100%;
  height: 2px;
  margin: 0px auto;
  border-bottom: 1.3px solid black;
  margin-left: -2vh;
}

.icons {
  color: white;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.tasks-title{
  padding-bottom: 5%;
}

ol { 
  counter-reset: item;
  list-style-type: none;
  padding-left: 0vh;
}

li { 
  display: flex;
}

li::before { 
  display: inline-block;
  content: " "counter(item)" ";
  counter-increment: item;
  flex: 0 0 3em;
  width: 3em;
}