.instructions-background {
  margin-left: 4vw;
  margin-top: 2vh;
}

.instructions {
  color: white;
  background-color: #454950;
  height: 96vh;
  width: 24vw;
  border-radius: 10px;
  word-wrap: break-word;
}

.instructions {
  padding-left: 4vh;
}

.icon-container, .title-container, .objective-container, .tasks-title {
  padding-top: 2vh;
  padding-right: 2vh;
}

.iconButtons {
  padding-bottom: 2vh
}

.icons {
  color: white;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

ol { 
  counter-reset: item;
  list-style-type: none;
  padding-left: 0vh;
}

.steps { 
  display: flex;
}

.steps::before { 
  display: inline-block;
  content: " "counter(item)". ";
  counter-increment: item;
  flex: 0 0 2em;
  width: 2em;
}

.instructions-exit {
  padding-top: 3vh;
  padding-bottom: 10%;
  color: darkgray;
}