.spash-header__container {
  background: linear-gradient(180deg, rgba(0,119,138,1) 0%, rgb(51 55 59) 95%);
}

.spash-header__grid-container {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.splash-header-body {
  position: relative;
  padding: calc(100vh - (100vh - 5.8rem)) 0;
  /* height: calc(100vh - 4rem); how to get remaining space of screen */
  width: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.splash-header-content {
  display: inline-block;
  margin-left: 10%;
  color: white;
  width: 40%;
  max-width: 40%;
  max-height: 100%;
}

.splash-header-content > h1 {
  font-size: 4.375rem;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

.splash-header-content > h3 {
  word-spacing: 5px;
  line-height: 70px;
  font-weight: 430px;
}

.how-it-works {
  transition: opacity 0.2s ease;
  padding: 0.7rem 2rem;
  opacity: 1;
  border-radius: 10px;
  background-color: #c9b51e;
  box-shadow: 2px 4px 5px rgb(48, 41, 41);
}

.how-it-works:hover {
  opacity: 0.2;
}

.splash-button-text {
  text-align: center;
  margin: auto;
}

.splash-header-image-container {
  height: 100%;
  max-width: 50%;
  padding-right: 10%;
}

.splash-header-body svg {
  display: block;
  width: 700px;
  height: 100%; 
  max-width: 100%;
}