.image {
   position: relative;
   zoom: 1;
   display: inline-block;
   border: solid 0.1rem rgba(0,0,0,0.4);
   border-radius: 5px;
   -webkit-user-drag: none;
   -khtml-user-drag: none;
   -moz-user-drag: none;
   -o-user-drag: none;
   border-radius: 10px;
   background-color: #454950;
}

.iconButtons {
   background-color: transparent;
   border-color: transparent;
}

.icons {
   position: absolute;
   display: flex;
   flex-direction: column;
   right: 11px;
   bottom: 20px;
   z-index: 10;
}

.icons>button:focus {
   border: none;
   outline: none;
}

.icon {
   margin: 5px;
   display: flex;
}

.handle {
   background: white;
}

.handle:hover {
   cursor: -webkit-grab; 
   cursor: grab;
 }
