.splash-footer-body {
  height: auto;
  background-color: black;
  color: white;
}

.splash-footer-section.logo {
  margin-bottom: 0;
}
.splash-footer-content {
  display: flex;
}

.splash-footer-body .splash-footer-content .splash-footer-section, .splash-footer-logo {
  flex: 1;
}

.splash-footer-section.logo {
  padding-left: 10%;
}

.splash-footer-logo {
  margin-bottom: 15px;
}

.splash-footer-section.info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 0;
}

.splash-footer-section > p {
  color: white;
  font-weight: normal;
}

.splash-footer-section.logo {
  padding-top: 5vh;
}

.section-part {
  padding: 1vh 0;
  padding-right: 25%;
}

.section-part.one, .section-part.two {
  padding: 0;
}

.section-part.one > h2, .section-part.two > h2 {
  margin-bottom: 5px;
}
.section-part.one, .section-part.section-part.two {
  position: relative;
  min-width: 100px;
  max-width: 430px;
  flex-direction: column;
  white-space: nowrap;
}

.section-part.one > h2, .section-part.two > h2 {
  word-spacing: 10px;
  font-size: 1em;
}
.section-part.one > p, .section-part.two > p {
  font-size: 1.3;
}

.section-part.one > p, .section-part.two > p {
  color: gray;
  margin-bottom: 0;
}