.configure {
  height: 27vh;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 10px;
  border-top: 0;
}

.network-devices {
  display: flex;
  justify-content: center;
}

.max-nodes {
  color: red;
  margin-right: auto;
}
