.configure {
  padding: 20px;
  padding-top: 0px;
  border-radius: 0 10px 10px 10px;
  border-top: 0;
  position: relative;
  background-color: #454950;
}

.configure::-webkit-scrollbar {
  width: 5px;
  color: #454950;
}

.configure::-webkit-scrollbar-track {
  border-radius: 10px;
}

.configure::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.network-devices::-webkit-scrollbar {
  width: 10px;
  color: #454950;
}

.network-devices::-webkit-scrollbar-track {
  border-radius: 10px;
}

.network-devices::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.network-devices {
  display: flex;
  overflow: auto;
  overflow-x: hidden;
}

.max-nodes {
  color: red;
  margin-right: auto;
}
