.splash-content-body {
  flex-grow: 1;
  height: 100vh;
  display: block;
  position: relative;
  margin-bottom: 5%;
}

.splash-content-text {
  position: relative;
  width: 100%;
  float: right;
  text-align: right;
  margin-top: 10%;
  margin-right: 10%;
  color: white;
}

.splash-content-header {
  font-size: 4rem;
}

.splash-content-subtext {
  width: 40%;
  float: right;
  text-align: right;
  margin-right: auto;
  font-size: 1.5rem;
  line-height: 115%;
}

.splash-content-image {
  position: absolute;
  display: flex;
  /* width: 60%; */
  /* height: 100%; */
  /* right: -10%; */
  /* top: -40%; */
  left: 50%;
  transform: translatex(-50%);
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 100px);
}

.splash-content-body svg {
  height: 80%;
  display: block;
  margin: auto;
}


.splash-content-image-text1 {
  color: white;
  text-align: center;
  /* width: 25%;
  position: absolute;
  margin-top: 70%;
  left: 1%;
  padding-bottom: 10%; */
}