.device-box {
  /* display: flex; */
  display: grid;
  grid-template-columns: minmax(65px, 75px) auto 45px;
  width: 100%;
  background-color: #595D62;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.device-name-box {
  transition: 0.15s opacity ease-in-out;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  font-size: large;
  height: 50px;
  width: 60px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: auto 1rem auto 0.1rem;
}

.device-name-box:hover, .is-dragging {
  opacity: 0.2;
}

.is-hover {
  border: 1pt solid rgba(255, 255, 255, 0.5);
}

.vertical-bar {
  border-right: 2px solid #B2B2B2;
}

.connections-container {
  font-size: small;
  color: #B2B2B2;
  overflow: hidden;
  padding: 0 0.5rem;
}

.connections-boxes {
  background-color: #212529;
  border-radius: 5px;
  padding: 0.45rem;
  padding-top: calc(0.45rem + 4px);
  display: flex;
  overflow-x: scroll;
  -ms-transform:rotateX(180deg); /* IE 9 */
  transform: rotateX(180deg); /* Safari and Chrome */
  -webkit-transform: rotateX(180deg);
}
.connections-boxes::-webkit-scrollbar {
  height: 4px;
  color: #454950;
}

.connections-boxes::-webkit-scrollbar-track {
  border-radius: 10px;
}

.connections-boxes::-webkit-scrollbar-thumb {
  border-radius: 10px;
}


.connection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  min-width: 30px;
  font-size: 0.6rem;
  margin-right: 5px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  transform: rotateX(-180deg);
}

.empty-color {
  background-color: #707070;
}

.router-color {
  background-color: #BDA913;
}

.switch-color {
  background-color: #008A9E;
}

.host-color {
  background-color: #9E1059;
}

.trash-icon-container {
  display: flex;
  margin-left: auto;
}

.trash-icon {
  margin: auto 1rem;
}

.trash-icon__active > svg {
  opacity: 1 !important;
}

.trash-icon > svg {
  transition: 0.15s opacity ease-in-out;
  opacity: 0.2;
}