.device-box {
  /* display: flex; */
  display: grid;
  grid-template-columns: minmax(65px, 75px) auto 45px;
  width: 100%;
  background-color: #595D62;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.device-name-box {
  transition: 0.15s opacity ease-in-out;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  font-size: large;
  height: 50px;
  width: 60px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.device-name-box:hover, .is-dragging {
  opacity: 0.2;
}

.is-hover {
  border: 1pt solid rgba(255, 255, 255, 0.5);
}

.vertical-bar {
  border-right: 2px solid #B2B2B2;
}

.connections-container {
  font-size: small;
  color: #B2B2B2;
  overflow: hidden;
  padding: 0 0.5rem;
}
