/* selecting */
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #45495000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #595D62;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595D62;
}

/* .device-container-content {
  overflow: auto;
}

.device-container-content::-webkit-scrollbar-thumb {
  background: #595D62;
  width: 5px;
} */