.nav-header {
  background-color: #008080;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar {
  background-color: #008080;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.btn {
  color: white;
  border: solid;
  background-color: darkgray;
  padding: 7px;
}

.row {
  background-color: 	#D3D3D3;
}

#footer-pic {
  margin-left: 20vw
}

.logo {
  height: 45px;
  width: auto;
}