* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: auto;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 100vh;
  background-color: #33373b !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Removes the blue outline from button when clicked */
button:focus {outline:0;}

/* === Global CSS Classes === */

.container-1920 {
  max-width: 1920px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mleft-auto {
  margin-left: auto;
}

.mright-auto {
  margin-right: auto;
}

.pb-2vh {
  padding-bottom: 2vh;
}