name: Integration
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  cypress-run:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          headless: true
          install-command: npm i
          start: npm run start:dev
          wait-on: http://localhost:300

      - name: Archive cypress results
        uses: actions/upload-artifact@v2
        with:
          name: cypress-screenshots
          path: |
            cypress/screenshots
            cypress/videos