.splash-header-container {
  width: 80%;
  margin: 0 auto;
}

.splash-header {
  background: white;
}

.splash-header::after {
  content: '';
  display: table;
  clear: both;
}

.splash-logo {
  float: left;
  padding: 20px 0;
}

.splash-nav {
  float: right;
}

.splash-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.splash-nav li {
  display: inline-block;
  margin-left: 35px;
  padding-top: 25px;
  position: relative;
}

.splash-nav a{
  color: #131111;
  text-decoration: none;
  font-weight: bold;
}

.splash-nav-link::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1.5px;
  border-width: 0 0 4px;
  border-style: solid;
  border-radius: 50px;
  opacity: 0;
  color: #0C6474;
  transition: opacity 300ms;
}

.splash-nav-link:hover::after {
  color: #0C6474;
  opacity: 1;
}

.splash-login, .splash-signup {
  border: 2px solid black;
  border-radius: 3.5px;
  padding: 3px 15px;
  transition: 300ms;
}

.splash-signup {
  margin-left: -5px;
  background-color: #d6c20e
}

.splash-login:hover {
  background-color: #18879b;
}